.restaurant-card {
    transition: all 0.3s ease;
}


.restaurant-card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 12px -1px, rgba(0, 0, 0, 0.1) 0px 4px 8px -1px;
    transform: translateY(-5px);
}