.header-left{
    display:flex;
    align-items: center;
    gap:0.5rem;
    cursor: pointer;
}

.top-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    flex-wrap: wrap;
    gap:0.8rem
}

.header-logo{
    display:flex;
    justify-content:center;
    align-items:center;
    background: mediumpurple;
    color: white;
    width: 4rem;
    border-radius: 0.5rem;
    height: 2rem;
}

@media(max-width:767px){
    .restaurant-list{
        margin-top: 7rem !important;
    }
}